@import "../../utils/variables";

.desktop-form-wrapp {
  .name-input {
    margin-bottom: 20px;
  }
  .message-input {
    padding-top: 60px;
  }
  // MUI styles start
  .MuiInput-underline:before,
  .MuiInput-underline:hover:before {
    border-bottom-color: $prime-color;
  }

  .MuiInputLabel-root {
    color: $prime-color !important;
  }

  .MuiTextField-root {
    .MuiInput-underline:after {
      border-bottom-color: $bright-blue;
    }
    &:focus-within .MuiInputLabel-root {
      color: $bright-blue !important;
    }
  }

  .MuiInputBase-input {
    color: $prime-color;
  }


  .MuiInput-underline:hover:before {
    border-bottom-color: $prime-color !important;
  }
  // MUI styles end
}

