@import "../../../../utils/mixins";
.footer-container {
  background-color: #132d39;
}
.footer-wrapp {
  .title {
    @include subtitle-font-style();
    cursor: pointer;
  }
  .title:hover {
    color: #1689a9;
  }
  @include flex-center(space-between, center);
  padding: 10px 100px 30px;
  .icons-wrapp {
    @include flex-center(center, center);
    gap: 23px;
  }

  .icons-wrapp .icons-link {
    color: #fff;
    @include flex-center();
  }
  .footer-icon {
    width: 20px;
    height: 20px;
  }
  .footer-icon-linkedin {
    width: 28px;
    height: 28px;
  }

  .icons-wrapp svg:hover {
    color: #047695;
    transition: all 0.3s ease;
  }
}
