@import "../../utils/mixins";
@import "../../utils/variables";
.about-page-container {
  padding: 130px 0;
  @include flex-center(center, center);
  gap: 50px;
  .title span {
    color: $bright-blue;
  }
  .subtitle {
    margin-bottom: 20px;
  }

  .image-wrapp img {
    @include standart-image-size(330px, 100%, auto);
    border-radius: 20px;
  }
  .description {
    max-width: 500px;
  }
  .about-btn {
    margin-top: 40px;
    @include second-button-style();
  }
}
