@import "../../utils/mixins";
@import "../../utils/variables";
.about-page-container {
  padding: 130px 0;
  @include flex-center(space-evenly, center);
  gap: 50px;
  .title span {
    color: $bright-blue;
  }
  .subtitle {
    margin-bottom: 20px;
  }

  .image-wrapp img {
    @include standart-image-size(330px, 100%, auto);
    border-radius: 20px;
  }
  .description {
    max-width: 500px;
  }
  .btn-wrapp {
    @include flex-center(flex-start);
  }
  .cv-link {
    margin-top: 40px;
    @include main-button-style();
    text-decoration: none;
  }
  .icons-wrapp{
    margin: 20px 0;
    @include flex-center(flex-start);
    gap:30px
  }
.icons-wrapp svg{
width: 25px;
height: 25px;
color: $prime-color;
}
.icons-wrapp svg:hover{
  color: $bright-blue;
  transition: all 0.5s ease;
}
}
