@import "../../utils/mixins";
@import "../../utils/variables";

.modal-wrapp {
  .image-wrapp {
    flex: 1;
    height: 100%;
    min-height: 550px;

    background-size: cover;
    background-position: center;
  }
  .image-wrapp img {
    width: 100%;
    max-width: 400px;
  }
  .loader-wrapp {
    flex: 1;
    @include flex-center();
  }
  //content wrapper
  .content-wrapp {
    position: relative;
    @include flex-center(normal, initial);
    gap: 20px;
    .title {
      color: $bright-blue;
      font-size: 20px;
    }
    .description-block {
      flex: 1;
      padding: 30px 30px 0 0;
      @include flex-center(initial, center, column);
    }

    .description {
      color: black;
      font-size: 17px;
    }

    .technologies,
    .features {
      margin: 10px 0;

      color: black;
    }
    .tech-ordered-list,
    .features-ordered-list {
      line-height: 22px;
      padding-left: 10px;
      color: #757575;
    }
    .features-ordered-list {
      font-size: 12px;
    }
    .tech-ordered-list {
      color: $secondary-color;
    }
    .close-icon {
      position: absolute;
      width: 35px;
      height: 35px;
      color: $prime-color;
      left: -35px;
      top: -35px;
      cursor: pointer;
    }
    .modal-link {
      text-decoration: none;
    }
  }
}
