@import "../../../../utils/mixins";
@import "../../../../utils/variables";
.projects-section {
  padding: 100px;

  .title-wrapp {
    @include flex-center(space-between, center);
    margin-bottom: 70px;
  }
  .projects-title {
    font-size: 40px;
  }
  .projects-title span {
    color: $bright-blue;
  }
  .global-link {
    @include global-link-style();
  }
  .projects-wrapp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .contact-btn {
    @include main-button-style();
    font-size: 20px;
  }
}
