# System files
.DS_Store
Thumbs.db

# Directory with dependencies
/node_modules/

# Environment files where sensitive data may be stored
*.env*

# Logs
/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
/.idea/
/.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Builds and dependencies
/dist/
/tmp/
/out/
/.pnp
.pnp.js

# Other files and directories
/coverage/
*.pid
*.pid.lock
*.seed
*.tgz
*.zip
*.rar
*.tar.gz


# Directories created during test execution
/.nyc_output
/.jest
