@import "../../utils/mixins";
@import "../../utils/variables";

.services-page-container {
  padding: 140px 100px;
  text-align: center;

  // add style to specific class from slick-carousel
  .slick-slide {
    padding: 15px 0;
  }
  //
  .title {
    margin-bottom: 40px;
  }
  .title span {
    color: $bright-blue;
  }

  .services-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 300px;
    max-width: 340px;
    border-radius: 20px;
    border-bottom: 3px solid $bright-blue;
    border-top: 3px solid $bright-blue;
    transition: all 0.5s ease;
  }
  .flex-content {
    height: 100%;
    @include flex-center(space-between, center, column);
  }
  .services-item:hover {
    transform: scale(1.02);

    .service-name {
      color: $bright-blue;
      transition: all 0.3s ease;
    }
  }
  .services-btn {
    @include second-button-style();
    justify-self: end;
  }
  // .services-btn:hover {
  //   // transition: all 0.3s ease;
  //   @include second-button-style(
  //     $color: $bright-blue,
  //     $background: rgba(17, 31, 38, 0.4),
  //     $border: 0.5px solid $bright-blue
  //   );
  // }
  .icons {
    width: 60px;
    height: 60px;
  }
}
