@import "./variables";

@mixin global-container($maxWidth: 1400px, $margin: 0 auto, $width: 100%) {
  max-width: $maxWidth;
  width: $width;
  margin: $margin;
}
@mixin flex-center($justify: center, $align: center, $direction: initial) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin standart-image-size($maxWidth: null, $width, $height) {
  max-width: $maxWidth;
  width: $width;
  height: $height;
}

@mixin main-button-style(
  $paddingBottom: 9px,
  $color: #fff,
  $border: none,
  $background: inherit,
  $cursor: pointer,
  $borderBottomColor: #1f9cbe,
  $borderBottomWidth: 2px,
  $borderBottomStyle: solid,
  $fontWeight: 600
) {
  background-color: $background;
  padding-bottom: $paddingBottom;
  color: $color;
  border: $border;
  cursor: $cursor;
  border-bottom: $borderBottomWidth $borderBottomStyle $borderBottomColor;
  font-weight: $fontWeight;
}

@mixin second-button-style(
  $padding: 15px,
  $color: $prime-color,
  $border: none,
  $background: $secondary-color,
  $cursor: pointer,
  $radius: 5px,
  $fontWeight: 600,
  $width: 122px
) {
  width: $width;
  background-color: $background;
  padding: $padding;
  color: $color;
  cursor: $cursor;
  border: $border;
  font-weight: $fontWeight;
  border-radius: $radius;
}
@mixin global-link-style($textDecoration: none, $color: #fff) {
  text-decoration: $textDecoration;
  color: $color;
}
