@mixin global-container($maxWidth: 1400px, $margin: 0 auto, $width: 100%) {
  max-width: $maxWidth;
  width: $width;
  margin: $margin;
}
@mixin flex-center($justify: center, $align: center, $direction: initial) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin standart-image-size($maxWidth: null, $width, $height) {
  max-width: $maxWidth;
  width: $width;
  height: $height;
}

@mixin button-style(
  $paddingBottom: 9px,
  $color: #fff,
  $border: none,
  $background: inherit,
  $cursor: pointer,
  $borderBottomColor: #09a75a,
  $borderBottomWidth: 2px,
  $borderBottomStyle: solid,
  $fontSize: 12px
) {
  background-color: $background;
  padding-bottom: $paddingBottom;
  color: $color;
  border: $border;
  cursor: $cursor;
  border-bottom: $borderBottomWidth $borderBottomStyle $borderBottomColor;
  font-size: $fontSize;
}
@mixin global-link-style($textDecoration: none, $color: #fff) {
  text-decoration: $textDecoration;
  color: $color;
}
