@mixin global-container($maxWidth: 1400px, $margin: 0 auto, $width: 100%) {
  max-width: $maxWidth;
  width: $width;
  margin: $margin;
}
@mixin flex-center($justify: center, $align: center, $direction: initial) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin standart-image-size($maxWidth: null, $width, $height) {
  max-width: $maxWidth;
  width: $width;
  height: $height;
}

@mixin button-style(
  $paddingBottom: 9px,
  $color: #fff,
  $border: none,
  $background: inherit,
  $cursor: pointer,
  $borderBottomColor: #1f9cbe,
  $borderBottomWidth: 2px,
  $borderBottomStyle: solid,
  $fontWeight: 600
) {
  background-color: $background;
  padding-bottom: $paddingBottom;
  color: $color;
  border: $border;
  cursor: $cursor;
  border-bottom: $borderBottomWidth $borderBottomStyle $borderBottomColor;
  font-weight: $fontWeight;
}
@mixin global-link-style($textDecoration: none, $color: #fff) {
  text-decoration: $textDecoration;
  color: $color;
}

@mixin slideInFromTop($duration: 1s, $translate: -100%) {
  @keyframes slideInFromTop {
    0% {
      transform: translateY($translate);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  animation: $duration ease-out 0s 1 slideInFromTop;
}
@mixin slideInFromBottom($duration: 1s, $translate: 70%) {
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(#{$translate});
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  animation: $duration ease-out 0s 1 slideInFromBottom;
}
@mixin slowSlideFromBottom($duration: 1s, $translate: 10%) {
  @keyframes slowSlideFromBottom {
    0% {
      transform: translateY(#{$translate});
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  animation: $duration ease-out 0s 1 slowSlideFromBottom;
}
