@import "../../../../utils/mixins";

.contact-section {
  padding: 50px 100px;
  .contact-wrapp {
    border-bottom: 1px solid #fff;
    @include flex-center(space-between, center);
  }
  .form-wrapp {
    width: 400px;
    @include flex-center($direction: column);
    .name-input {
      margin-bottom: 20px;
    }
    .message {
      padding-top: 60px;
    }
    //styles for MUI Text Field

    .MuiInput-underline:before,
    .MuiInput-underline:hover:before {
      border-bottom-color: #fff;
    }

    .MuiInputLabel-root {
      color: #fff !important;
    }

    .MuiTextField-root {
      .MuiInput-underline:after {
        border-bottom-color: #09a75a;
      }
      &:focus-within .MuiInputLabel-root {
        color: #09a75a !important;
      }
    }

    .MuiInputBase-input {
      color: white;
    }
  }
  //  styles for MUI Text Field end

  .title {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .description {
    max-width: 400px;
  }

  .submit-btn {
    @include main-button-style();
    margin: 26px 0 50px 0;
    text-transform: uppercase;
  }
}
