@import "../../../../utils/mixins";
@import "../../../../utils/variables";
.contact-section {
  padding: 50px 100px;
  .contact-wrapp {
    border-bottom: 1px solid $prime-color;
    @include flex-center(space-between, normal);
  }
  .form-wrapp {
    width: 400px;
    @include flex-center($direction: column);
    .name-input {
      margin-bottom: 20px;
    }
    .message {
      padding-top: 60px;
    }
    //styles for MUI Text Field

    .MuiInput-underline:before,
    .MuiInput-underline:hover:before {
      border-bottom-color: $prime-color;
    }

    .MuiInputLabel-root {
      color: $prime-color !important;
    }

    .MuiTextField-root {
      .MuiInput-underline:after {
        border-bottom-color: $bright-blue;
      }
      &:focus-within .MuiInputLabel-root {
        color: $bright-blue !important;
      }
    }

    .MuiInputBase-input {
      color: $prime-color;
    }
  }
  //  styles for MUI Text Field end

  .title {
    font-size: 60px;
    margin-bottom: 35px;
  }
  .description {
    max-width: 386px;
    width: 100%;
    text-align: justify;
    line-height: 30px;
  }
  .error-message {
    color: red;
    font-size: 14px;
  }

  .submit-btn {
    @include main-button-style();
    margin: 26px 0 50px 0;
    text-transform: uppercase;
  }
}
