@import "../../../utils/mixins";
@import "../../../utils/variables";

.modal-wrapp {
  .image-wrapp {
    flex: 1;
    height: 100%;
    min-height: 550px;

    background-size: cover;
    background-position: center;
  }
  .image-wrapp img {
    width: 100%;
    max-width: 400px;
  }
  .loader-wrapp {
    flex: 1;
    @include flex-center();
  }
  //content wrapper
  .content-wrapp {
    position: relative;
    @include flex-center(normal, initial);
    gap: 20px;
    .title {
      @include subtitle-font-style($color: black);
    }
    .description-block {
      flex: 1;
      padding: 30px 30px 30px 0;
      @include flex-center(initial, center, column);
      .modal-link {
        text-decoration: none;
        @include text-font-style($fontSize: 15px, $color: #000000);
        font-weight: 400;
      }
      .modal-link:hover{
        color: $secondary-color;
      }
      .modal-link-wrapp {
        margin-top: 20px;
      }
    }

    .description {
      color: black;
      font-size: 17px;
    }

    .technologies,
    .features {
      @include subtitle-font-style(
        $color: #000000,
        $fontWeight: 600,
        $fontSize: 20px
      );
      margin: 10px 0;
    }
    .tech-ordered-list,
    .features-ordered-list {
      @include text-font-style($fontSize: 15px, $color: #000000);

      line-height: 22px;
      padding-left: 10px;
    }
    .tech-ordered-list {
      font-weight: 400;
    }
    .features-item:not(:last-child) {
      margin-bottom: 5px;
    }
    .close-icon {
      position: absolute;
      width: 35px;
      height: 35px;
      color: $prime-color;
      left: -35px;
      top: -35px;
      cursor: pointer;
    }
  }
}
