@import "../../../utils/mixins";
@import "../../../utils/variables";

.services-page-container {
  padding: 140px 100px;
  text-align: center;
  height: 100vh;
  // add style to specific class from slick-carousel
  .slick-slide {
    padding: 15px 0;
  }
  //
  .title {
    @include title-font-style($fontSize: 32px);
    margin-bottom: 40px;
  }
  .title span {
    color: $bright-blue;
  }
  .loader-wrapp {
    @include flex-center();
  }
}
