@import "../../../../utils/mixins";
.skills-section {
  padding: 50px 0;
  width: 113%;
  .skills-wrapp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
  }
}
.skills-item {
  width: 100%;
  @include flex-center(center, left, column);
  gap: 15px;
}
.skill {
  font-size: 35px;
}
