@import "../../../../utils/mixins";
.skills-section {
  padding: 50px 0;
  .skills-wrapp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 70px;
  }
}

.skill {
  font-size: 35px;
  margin-bottom: 10px;
}
