@import "../../utils/mixins";
@import "../../utils/variables";
.header-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  width: auto;
  padding: 20px 60px;
  @include flex-center(space-between, center);

  //adding background when scrolling
  &.scrolled {
    background-color: black;
    opacity: 0.8;
    transition: all 0.6s ease;
    .title::before {
      opacity: 0;
    }
    .title {
      opacity: 0;
    }
    z-index: 10;
  }
  .title.title-hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.scrolled-back {
    transition: all 0.6s ease;
    .title::before {
      transition: all 1.7s ease;
    }
  }

  .title,
  .title-link {
    position: relative;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
  }
  .title::before {
    position: absolute;
    content: "";
    display: block;
    width: 500px;
    height: 150px;
    background-color: black;
    z-index: -1;
    left: -60px;
    top: -17px;
  }

  .nav-bar {
    @include flex-center(center, center);
    gap: 30px;

    .nav-bar-link,
    .home-link {
      color: $prime-color;
      text-decoration: none;
      font-size: 15px;
      border-bottom: 1px solid transparent;
      padding-bottom: 5px;
      // font-size: 28px;
    }
  }

  .nav-bar-link:hover {
    color: $bright-blue;
    border-bottom: 1px solid $bright-blue;
    transition: all 0.3s ease;
  }
  .theme-btn {
    @include flex-center(center, center);
    border: none;
    cursor: pointer;
  }

  .theme-icons {
    width: 22px;
    height: 22px;
  }
}
