@import "../../utils/mixins";
@import "../../utils/variables";
.header-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  padding: 20px 60px;
  z-index: 100;

  @include flex-center(flex-end, center);

  //scrolling styles start
  &.scrolled {
    background-color: black;
    opacity: 0.8;
    transition: all 0.9s ease;
  }

  &.scrolled-back {
    transition: all 0.7s ease;
  }

  .nav-bar {
    @include flex-center(center, center);
    gap: 30px;

    .nav-bar-link {
      @include text-font-style($fontSize: 16px, $fontWeight: 400);
      text-decoration: none;
      border-bottom: 1px solid transparent;
      padding-bottom: 5px;
    }
  }

  .nav-bar-link:hover {
    color: $bright-blue;
    border-bottom: 1px solid $bright-blue;
    transition: all 0.3s ease;
  }
}
