@import "../../utils/mixins";

.projects-page-container {
  text-align: center;
  padding: 150px 110px 50px;
  .title {
    margin-bottom: 40px;
  }

  .projects-page-wrapp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    .project-item {
      position: relative;

      .description-block {
        @include flex-center(flex-end, center, column);
        gap: 5px;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        border: none;
        padding: 13px;
        transition: opacity 0.5s ease;
        outline: none;
        cursor: pointer;
        z-index: 2;

        .technology {
          font-size: small;
        }
      }
      &:hover {
        .description-block {
          opacity: 1;
        }
        .project-page-image {
          filter: blur(2px);
        }
      }

      .project-page-image {
        position: relative;

        transition: filter 0.3s ease;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }
  .load-more-btn {
    @include second-button-style();
    margin-top: 20px;
  }
}
