@import "../../utils/mixins";
@import "../../utils/variables";

.contact-page-container {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;

  .title {
    @include title-font-style($fontSize: 32px);
    text-align: center;
  }
  .title span {
    color: $bright-blue;
  }

  .form-box-element {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 50px;
    > :not(style) {
      margin: 8px;
    }
    .MuiInput-underline:before,
    .MuiInput-underline:after {
      border-bottom-color: $prime-color;
    }
    .MuiInputLabel-root {
      color: white !important;
    }
    .MuiInput-underline:hover:before {
      border-bottom-color: $prime-color !important;
    }
  }

  .message-box-element {
    > :not(style) {
      margin-top: 50px;
    }

    .MuiInputLabel-root {
      color: $prime-color !important;
    }
  }

  .MuiInputBase-input {
    color: $prime-color;
  }
  .message-input {
    .MuiOutlinedInput-root {
      & fieldset,
      &:hover fieldset,
      & .Mui-focused fieldset {
        border-color: $prime-color;
      }
    }
  }
  .contact-button {
    @include second-button-style($width: fit-content);
    margin-top: 50px;
  }
  .error-message {
    color: red;
    font-size: 15px;
  }
}
.loading-message {
  color: #fff;
  position: absolute;
  top: 38%;
  left: 45%;
}
.contact-page-container.loading-opacity {
  opacity: 0.5;
}
