@import "../../../utils/variables";
@import "../../../utils/mixins";

.services-modal-wrapp {
  text-align: center;
  // min-height: 350px;
  border-radius: 20px;
  background-color: rgba(17, 31, 38, 0.9803921569);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px 45px;
  border-bottom: 3px solid #1f9cbe;
  border-top: 3px solid #1f9cbe;

  .main-title {
    @include subtitle-font-style();
    margin-bottom: 25px;
  }
  .main-title span {
    color: $bright-blue;
    margin-left: 10px;
  }

  .description-list li:not(:last-child) {
    margin-bottom: 20px;
  }
  .description-list-item {
    @include text-font-style();
    line-height: 28px;
    text-align: justify;
  }

  .loader-wrapp {
    min-width: 600px;
    min-height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
