@import "../../../../utils/mixins";
@import "../../../../utils/variables";
.main-section {
  margin-top: 114px;
  position: relative;

  .main-text {
    position: absolute;
    top: 22%;
    right: 22%;
    z-index: 6;
    .title {
      @include title-font-style();
      letter-spacing: 7px;
      margin-bottom: 10px;
    }
    .title-name {
      border-bottom: 2px solid #047695;
    }
    .subtitle {
      @include subtitle-font-style();
      letter-spacing: 1px;
    }
    .description {
      @include text-font-style();
      max-width: 450px;
      letter-spacing: 0.5px;
      line-height: 27px;
    }
  }
  .image-wrapp {
    position: relative;
    right: 15px;
    z-index: 5;
    width: 700px;
    height: 550px;
    @include flex-center(center, flex-end);
    background: radial-gradient(circle, #285366, #000000);
    border-radius: 0 20px 20px 0;
  }
  .main-image {
    @include standart-image-size($width: 300px, $height: auto);
  }
  // .divider-wrapp {
  //   margin: 0 auto;

  //   max-width: 1320px;
  // }
  .divider {
    margin-top: 50px;
  }
  .link-wrapp {
    width: 100%;
    @include flex-center(flex-end);
  }
}
