@import "../../../../utils/mixins";
@import "../../../../utils/variables";
.main-section {
  margin-top: 114px;
  position: relative;
  .main-text {
    position: absolute;
    top: 22%;
    right: 10%;
    z-index: 6;
    .title {
      font-size: 60px;
      // font-family: $font-family-poppins;
      font-family: "Courier New", Courier, monospace;
      font-weight: 600;
    }
    .subtitle {
      font-family: "Courier New", Courier, monospace;
      font-size: 35px;
    }
    .description {
      max-width: 400px;
    }
  }
  .image-wrapp {
    position: relative;
    right: 15px;
    z-index: 5;
    width: 700px;
    height: 550px;
    @include flex-center(center, flex-end);
    background: radial-gradient(circle, #285366, #000000);
    border-radius: 0 20px 20px 0;
  }
  .main-image {
    @include standart-image-size($width: 300px, $height: auto);
  }
  .line {
    margin: 0 auto;

    max-width: 1320px;
  }
  .devider {
    margin-top: 50px;
  }
}
