.global-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background-color: #111f26fa;
  color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0;
}
