.global-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стилизация трека скроллбара */
::-webkit-scrollbar-track {
  background: #047695; /* Светлый фон для трека */
}

/* Стилизация ползунка скроллбара */
::-webkit-scrollbar-thumb {
  background: #047695; /* Темный фон для ползунка */
}

/* Опционально: изменение фона ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #047695; /* Ещё более темный фон при наведении */
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
  background-color: #111f26fa;
  color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0;
}
