@import "../../utils/variables";
@import "../../utils/mixins";
@import "../../utils/media-queries";

.mobile-form-wrapp {
  .text-field:not(:last-child) {
    margin-bottom: 18px;
  }
  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }

  .MuiInputLabel-root {
    color: white;
  }

  .MuiInputLabel-root.Mui-focused {
    color: white;
  }

  .MuiInputBase-input {
    color: white;
  }
}
